/* AddCategory.css */

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #f4f7fa;
    border-radius: 8px;
    max-width: 500px;
    margin: 100px auto;
}

.category-form {
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
}

.form-label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.form-input,
.form-file-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
    padding:5px;
}

.form-input:focus,
.form-file-input:focus {
    border-color: #6c63ff;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #5750d9;
}
